<aside class="w-64 h-96 bg-white shadow-md">
  <div class="p-4">
    <h2 class="text-xl font-semibold text-gray-800">Menu</h2>
  </div>
  <nav class="mt-6">
    <a href="{% url 'auth_user_profile' %}" class="block py-2 px-4 text-gray-700  hover:bg-gray-300 {% if request.path == '/dashboard/users/me' %}bg-gray-200 {% endif %}">Profile</a>
    <a href="{% url 'auth_user_profile_update' %}" class="block py-2 px-4 text-gray-700 hover:bg-gray-200 {% if request.path == '/dashboard/users/me/update' %}bg-gray-200 {% endif %}">Edit Profile</a>
    <a href="{% url 'auth_user_password_change' %}" class="block py-2 px-4 text-gray-700 hover:bg-gray-200 {% if request.path == '/dashboard/users/me/password-change' %}bg-gray-200 {% endif %}">Change Password</a>
  </nav>
</aside>
