services:
  evms_db:
    image: postgres:15-alpine
    container_name: evms-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: evms
    ports:
      - "5433:5432"
    volumes:
      - django_evms_data:/var/lib/postgresql/data

  web:
    build:
      context: .
      dockerfile: dockerfile
    command: /usr/local/bin/docker-entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - evms_db

volumes:
  django_evms_data:
