<aside class="w-64 bg-white shadow-lg flex flex-col py-8 px-4">
  <div class="mb-12 flex items-center gap-2">
    <a href="{% url 'front' %}" class="text-blue-600 text-2xl font-bold">EVMS</a>
  </div>
  <nav class="flex-1">
    <ul class="flex flex-col gap-2 text-gray-700">
      <li>
        <a href="{% url 'dashboard' %}" class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-50 font-semibold {% if request.path == '/dashboard/' %}bg-blue-50 text-blue-700 {% endif %}">
          <i class="fas fa-th-large"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="{% url 'category_index' %}" class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-50 {% if request.path == '/dashboard/categories/' %}bg-blue-50 text-blue-700 {% endif %}">
          <i class="fas fa-layer-group"></i>
          Categories
        </a>
      </li>
      <li>
        <a href="{% url 'events_index' %}" class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-50 {% if request.path == '/dashboard/events/' %}bg-blue-50 text-blue-700 {% endif %}">
          <i class="fas fa-calendar-alt"></i>
          Events
        </a>
      </li>
      <li>
        <a href="{% url 'users_index' %}" class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-50 {% if request.path == '/dashboard/users/' %}bg-blue-50 text-blue-700 {% endif %}">
          <i class="fas fa-users"></i>
          Users
        </a>
      </li>

      <li>
        <a href="{% url 'groups' %}" class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-50 {% if request.path == '/dashboard/group/' %}bg-blue-50 text-blue-700 {% endif %}">
          <i class="fas fa-layer-group"></i>
          Roles
        </a>
      </li>
    </ul>
  </nav>
  <div class="mt-6">
    <form action="{% url 'sign_out' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="w-full bg-blue-600 text-white px-4 py-2 rounded-xl shadow hover:bg-blue-700 flex items-center justify-center gap-2">Logout</button>
    </form>
  </div>
</aside>
