{% extends 'front_base.html' %}

{% block title %}
  Sign In
{% endblock %}
{% block front_content %}
  <div class="max-w-2xl mx-auto bg-white shadow rounded-xl p-8 mt-8">
    <h1 class="text-2xl font-bold mb-6 text-center">Log in you account</h1>
    {% include 'messages.html' %}
    <form method="post" class="space-y-6">
      {% csrf_token %}
      {% for field in form %}
        <div>
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <ul>
              {% for error in field.errors %}
                <li class="text-red-500">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
      <div class="flex justify-end">
        <button type="submit" class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700">Login</button>
      </div>
      <div class="">
        Don't have an account <a href="{% url 'sign_up' %}" class="rounded-lg text-blue-600 mr-2">register Here</a>
      </div>
    </form>
  </div>
{% endblock %}
